mat-form-field.mat-form-field, .login-btn {
    max-width: 540px;
    width: 90%;
}

.second-btn{
    text-decoration: none;
}

.second-btn:hover{
    text-decoration: underline;
    color: rgb(113, 113, 255);
}

.login-btn {
    text-align: center;
}