<div fxFill fxLayout="column" fxLayoutAlign="center center">
    <h1>Inicia sesión</h1>
    <form [formGroup]="signInForm" (ngSubmit)="handleLogin()" class="width-100" fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password">
            <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button type="submit" color="primary" class="login-btn" mat-raised-button [disabled]="!signInForm.valid || bSignIn ||  !checkingInputEmail()">
            <span *ngIf="!bSignIn">Iniciar Sesión</span>
            <mat-spinner *ngIf="bSignIn" mode="indeterminate" [diameter]="30"></mat-spinner>
        </button>
    </form>
</div>